.mfsy{
    width: 100%;
    height: 170px;
    border-bottom: 1px solid #f2f2f2;
    .mfsy-t{
        width: 1000px;
        height: 120px;
        margin: 0 auto;
        h1{
            text-align: center;
            line-height: 120px;
            color: #353535;
        }
    }
    .mfsy-b{
        width: 1000px;
        height: 50px;
        margin: 0 auto;
        div{
            width: 330px;
            height: 50px;
            margin: 0 auto;
            span{
                display: block;
                float: left;
                width: 165px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                a{
                    color: #b5b8bd;
                }
            }
            .mfsy-b-c{
                border-bottom: 4px solid #fe5339;
                a{
                    color: #fe5339;
                }
            }
        }
    }
}
.mfsy-fl{
    width: 100%;
    height: 50px;
    div{
        width: 1000px;
        height: 50px;
        margin: 0 auto;
        div{
            width: 660px;
            height: 50px;
            margin: 0 auto;
            span{
                display: block;
                float: left;
                width: 165px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 14px;
                a{
                    color: #90928d;
                }
            }
            .fl-col{
                a{
                    color: #393532;
                }
            }
        }
    }
}
.mfsy-qb{
    background-color: #f7f7f7;
    width: 100%;
    padding: 25px 0px;
    .qb-box{
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        li:nth-child(4n){
            margin-right: 0px;
        }
        li{
            width: 220px;
            height: 288px;
            float: left;
            border: 1px solid #eaeaea;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 35px;
            margin-right: 37px;
            position: relative;
            .col-h{
                color: #b5b8bd !important;
                border-color: #b5b8bd !important;
            }
            .col-g{
                color: rgb(123,199,98) !important;
                border-color: rgb(123,199,98) !important;
            }
            .xr-sp{
                display: block;
                width: 100%;
                text-align: center;
                margin-top: 5px;
                font-size: 12px;
                color: #f65b3d;
            }
            img{
                width: 220px;
                height: 130px;
            }
            h3{
                text-align: center;
                font-size: 17px;
            }
            div{
                margin-top: 8px;
                margin-bottom: 13px;
                overflow: hidden;
                div{
                    margin: 0 auto;
                    width: 134px;
                    span:nth-child(1){
                        display: block;
                        float: left;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        border: 1px solid #f65b3d;
                        color: #f65b3d;
                        border-radius: 5px;
                        padding: 0px 11px;
                    }
                    span:nth-child(2){
                        @extend span:nth-child(1);
                        margin-left: 13px;
                    }
                }
            }
            p{
                width: 70px;
                margin: 0 auto;
                span:nth-child(1){
                    color: #ff5444;
                }
            }
            >span:nth-child(5){
                position: absolute;
                top: 0px;
                right: 0px;
                display: block;
                padding: 0px 7px;
                height: 22px;
                background-color: #f8542e;
                text-align: center;
                line-height: 22px;
                color: #fff;
                border-radius: 0px 5px 0px 5px;
                font-size: 12px;
            }
        }
    }
    p{
        width: 100%;
        text-align: center;
        color: #f65b3d;
    }
}
