.top {
  width: 100%;
  height: 300px;
  background-image: url(../imgs/original.jpg);
  background-position: -230px;
}

.top .top-z {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.top .top-z .top-r {
  overflow: hidden;
  float: right;
  margin-top: 45px;
  width: 317px;
  height: 206px;
  animation: si .5s both;
}

@keyframes si {
  0% {
    transform: rotate(-90deg) scale(0);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.top .top-z .top-r h1 {
  color: #fff;
  float: right;
}

.top .top-z .top-r p {
  overflow: hidden;
  float: right;
  margin-top: 20px;
}

.top .top-z .top-r p span {
  display: block;
  float: left;
  height: 35px;
  line-height: 25px;
  padding: 5px 10px;
  background-color: #fddaa4;
  color: #fff;
  text-align: center;
  margin-right: 10px;
}

.top .top-z .top-r div {
  float: right;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.top .top-z .top-r div span {
  display: block;
  float: left;
  color: #fff;
  font-size: 14px;
}

.top .top-z .top-r button {
  float: right;
  border: none;
  width: 242px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  margin: 0 auto;
  background-color: #fe5341;
  color: #fff;
  font-size: 23px;
}

.sylc {
  width: 100%;
  height: 102px;
  background-color: #ededed;
}

.sylc .sylc-z {
  width: 1000px;
  height: 102px;
  margin: 0 auto;
  overflow: hidden;
}

.sylc .sylc-z > p {
  float: left;
  width: 64px;
  height: 64px;
  border-left: 6px solid #f65742;
  font-size: 20px;
  text-align: center;
  margin-top: 19px;
  margin-right: 75px;
}

.sylc .sylc-z span {
  display: block;
  float: left;
  width: 50px;
  height: 64px;
  margin-top: 19px;
  margin-right: 120px;
}

.sylc .sylc-z span div {
  width: 36px;
  height: 36px;
  margin: 0 auto;
}

.sylc .sylc-z span div img {
  width: 36px;
  height: 36px;
}

.sylc .sylc-z span p {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.sylc .sylc-z span .bord {
  border-bottom: 2px solid #f65742;
}

.box {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.box .box-le {
  width: 700px;
  float: left;
}

.box .box-le .p-tio {
  border-left: 6px solid #ff523f;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 45px;
}

.box .box-le h4 {
  margin: 20px 0px;
}

.box .box-le .col {
  color: #f44d00;
}

.box .box-le p {
  font-size: 14px;
  margin-bottom: 20px;
}

.box .box-le h5 {
  margin: 20px 0px;
  color: #006cdb;
}

.box .box-le .blu {
  color: #006aa8;
}

.box .box-le ul li {
  overflow: hidden;
}

.box .box-le ul li h6 {
  float: left;
  font-size: 14px;
}

.box .box-le ul li span {
  float: left;
  display: block;
  font-size: 14px;
}

.box .box-le ul h4 {
  margin-bottom: 0px;
}

.box .box-le div {
  width: 700px;
  height: 60px;
  overflow: hidden;
  margin-top: 20px;
}

.box .box-le div h4 {
  float: left;
  line-height: 60px;
  font-size: 16px;
  margin: 0px;
}

.box .box-le div span {
  display: block;
  float: right;
  height: 60px;
  font-size: 14px;
  color: #f65742;
  line-height: 60px;
}

.box .box-le div span img {
  margin-left: 5px;
}

.box .zhanshi {
  width: 1000px;
  height: 60px;
  overflow: hidden;
  margin-top: 20px;
}

.box .zhanshi h4 {
  float: left;
  line-height: 60px;
  font-size: 16px;
  margin: 0px;
}

.box .zhanshi span {
  display: block;
  float: right;
  height: 60px;
  font-size: 14px;
  color: #f65742;
  line-height: 60px;
}

.box .zhanshi span img {
  margin-left: 5px;
}

.box .qb-box {
  width: 1000px;
  overflow: hidden;
}

.box .qb-box li:nth-child(4n) {
  margin-right: 0px;
}

.box .qb-box li {
  width: 220px;
  height: 288px;
  float: left;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 37px;
  position: relative;
}

.box .qb-box li #color {
  border-color: #a2b99f;
  color: #a2b99f;
}

.box .qb-box li #bgc {
  background-color: #fbf4ca;
  color: #c9b485;
}

.box .qb-box li img {
  width: 220px;
  height: 130px;
}

.box .qb-box li h3 {
  text-align: center;
  font-size: 17px;
}

.box .qb-box li div {
  width: 220px;
  height: 25px;
  margin-top: 8px;
  margin-bottom: 13px;
  overflow: hidden;
}

.box .qb-box li div div {
  margin: 0 auto;
  width: 134px;
  height: 25px;
}

.box .qb-box li div div span:nth-child(1), .box .qb-box li div div span:nth-child(2) {
  display: block;
  float: left;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #f75441;
  color: #f75441;
  border-radius: 5px;
  padding: 0px 11px;
}

.box .qb-box li div div span:nth-child(2) {
  margin-left: 13px;
}

.box .qb-box li p {
  width: 70px;
  margin: 0 auto;
}

.box .qb-box li p span:nth-child(1), .box .qb-box li p div div span:nth-child(2), .box .qb-box li div div p span:nth-child(2) {
  color: #ff5444;
}

.box .qb-box li > span:nth-child(5) {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  padding: 0px 7px;
  height: 22px;
  background-color: #f8542e;
  text-align: center;
  line-height: 22px;
  color: #fff;
  border-radius: 0px 5px 0px 5px;
  font-size: 12px;
}

.box .qb-box li .xr-sp {
  display: block;
  width: 100%;
  text-align: center;
  color: #f75441;
  margin-top: 5px;
}
